$basic-margin: 8px;
$basic-padding: 8px;

$text-size: 1rem;
$text-size-header1: 1.7rem;
$text-size-header2: 1.25rem;

$text-color-gray: var(--ant-primary-color);
$background-color: #F0F2F5;
$grey: #606060;
$border-color: #d9d9d9;
$error-red: #cf1322;

