@import "src/constants/style/styleConst";

.applications-content {
  display: flex;
  height: 100vh;
  .column-content {
    margin-left: $basic-margin;
  }
  &__add-btn {
    max-width: 240px;
    margin-left: auto;
    margin-bottom: $basic-margin * 2;
  }
  &__update-btn {
    margin-right: $basic-margin;
  }
  &__addToken-btn {
    display: flex;
    margin: 0 auto;
  }
  .link-btn {
    color: $blue-color;
    &:hover {
      color: $text-color-blue;
    }
  }
}