@import "src/constants/style/styleConst";

.applications-page {
  height: 100vh;
  .column-content {
    max-height: 100vh;
  }
  .three-columns {
    display: flex;
    background: #fff;
    box-shadow: inset -1px 0px 0px $border-color;

    height: 100%;

    .column__header {
      padding: $basic-padding * 2 $basic-padding;

      svg {
        fill: $blue-color;
      }
    }

    .ant-input-affix-wrapper {
      .ant-input-prefix {
        margin-left: auto;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
      }
    }

    .ant-input-affix-wrapper-focused {
      .ant-input-prefix {
        .anticon-search {
          svg {
            display: none;
          }
        }
      }
    }

    .ant-list-items {
      .column__items__item {
        .ant-list-item-meta-title {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          color: $text-color-gray;
          margin-left: 5px;
        }

        &.active {
          background: $blue-light !important;

          .ant-list-item-meta-title {
            color: $text-color-blue;
          }

          svg {
            path {
              fill: $text-color-blue;
            }
          }
        }
      }
    }
  }
}