$background-color: #F0F2F5;
$text-color-gray: var(--ant-primary-color);
$text-color-blue: #1890FF;

$basic-margin: 8px;
$basic-padding: 8px;

$text-size: 14px;

$border-color: #F0F0F0;

$blue-color: #40A9FF;
$blue-light: #E6F7FF;

$grey:#606060;
$red: #FF4D4F;
$green: #52C41A;
$yellow: #FAAD14;
