@import 'src/constants/style/styleConst';

.layout {
  min-height: 100vh !important;
  position: relative;

  .hide-item {
    display: none !important;
  }

  .ant-spin {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .ant-menu {
    border-inline-end: none !important;
  }

  .ant-menu-title-content {
    color: #1B1B1B;
    padding-left: 10px
  }
}

.user-item {

  & .ant-menu-submenu-arrow {
    display: none !important;
  }

  border-bottom: 1px solid lightgray;
  border-radius: 0 !important;

  & .ant-menu-submenu-title {
    padding-left: 21px !important;
  }

  & .ant-menu-title-content {
    margin: 0 !important;
    padding-left: 17px !important;
  }
}

.ant-menu-inline-collapsed {
  & .user-item {
    & .ant-menu-submenu-title {
      padding-left: 24px !important;
      padding-top: 5px !important;
    }
  }
}
