@import "src/constants/style/styleConst";


.active-configurations-table {
  &__title {
    margin-bottom: $basic-margin*2;
    font-size: 20px;
  }

  &__table {
    &__name-field {
      input {
        border: none;
        background-color: transparent;
        width: 100%;

        &:focus-visible {
          padding: $basic-padding;
          border-radius: 4px;
          outline: 1px solid $blue-color;
        }
      }

      display: flex;
      justify-content: space-between;
      gap: $basic-margin;

      &__actions {
        display: flex;
        gap: $basic-margin
      }
    }
  }

  .active-config {
    tr {
      background: $blue-light;
    }

    .ant-table-cell-row-hover {
      background: $blue-color-2 !important;
    }
  }
}
